<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
    <script src="./login.js"></script>
</head>
<body>
    <form onsubmit="login(event)">
        <label for="email">Enter Email:</label>
        <input type="email" name="email">
        <label for="password">Enter Password:</label>
        <input type="text" name="password">
        <button>Login</button>
    </form>
    <a href="../SignUp/signup.html">New User-SignUp</a>
   
</body>
</html>